menuconfig RK_HDMI
       bool "Rockchip HDMI support"
       select FB_MODE_HELPERS
       
if RK_HDMI
source "drivers/video/rockchip/hdmi/chips/Kconfig"
endif

config RK_HDMI_DEBUG
		bool "Rockchip HDMI Debugging"
        depends on RK_HDMI
        default n
		help
		  Enableds verbose debugging the the HDMI drivers

config RK_HDMI_CTL_CODEC
		bool "Mute Codec When HDMI Actived"
		depends on RK_HDMI
		default n
		help
			If you say y heres, Codec will be mute when hdmi inserted,
			and unmute when removed. 

choice HDMI_VIDEO
                bool "Desktop resolution"
                depends on RK_HDMI
		default HDMI_1920
config HDMI_1920
		bool "1920x1080"
		depends on RK_HDMI
config HDMI_1280
		bool "1280x720"
		depends on RK_HDMI
endchoice
